.body--input[contenteditable]:empty::before {
    content: "Enter your comment: ";
    color: rgb(118, 118, 118);
}

.comment--item {
    list-style-type: none;
    border: 3px solid black;
    width: 60vw;
    margin-bottom: 1vh;
}

.comment--title {
    display: block;
    text-align: left;
    align-self: left;
    /* float: left; */
    margin: 5px 0 0 0;
}

.comment--text {
    margin: 0 0 0 0;
    text-align: left;
}

.reply--item {
    list-style-type: none;
    border: 3px solid grey;
    width: 55vw;
    margin-bottom: 1vh;
    margin-left: 5vw;
}

.comment--topbar {
    display: block;
    text-align: left;
}

.comment--replybtn {
    display: inline;
    float: right;
    cursor: pointer;
    margin-right: 1vw;
}

.reply--input {
    width: 55vw;
    text-align: left;
}

.reply--input[contenteditable]:empty::before {
    content: "Enter your reply: ";
    color: rgb(118, 118, 118);
}

.reply--container {
    width: 55vw;
}

.reply--submit {
    width: 80px;
    font-size: 14px;
}

.body--input {
    text-align: left;
}

.edit--input {
    width: 55vw;
    text-align: left;
}

.edit--input[contenteditable]:empty::before {
    content: "Enter new text: ";
    color: rgb(118, 118, 118);
}