* {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 450;
    overflow-wrap: break-word;
}
body {
    background-color: #fdd8fd;
}

.main {
    background-color: #fff;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

.main {
    width: 80%;
    min-height: 94vh;
    margin: auto;
}

.center {
    text-align: center;
    margin: auto;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    z-index: 999;
    width: 100%; /* Full width */
    height: 4vh;
    display: table;
    table-layout: fixed;    /* For cells of equal size */
}

.navbar h1 {
    margin: 0;
    padding-top: 32.16px;
}

.navbar--item {
    float: center;
    display: table-cell;
    text-align: center;
    font-size: 2em;
    margin: 0 10px 0 10px;
    transition: 0.2s ease-in-out;
}
.navbar--item:hover {
    transition: 0.2s ease-in-out;
    background-color: hsl(341, 69%, 20%);
}
.navbar--item--container {
    width: 100px;
    float: center;
    text-align: center;
    align-items: center;
}

.navbar a { 
    text-decoration: none;
    color:  #ccc
}

.navbar--active {
    background-color: #a58dce;
    color: #000 !important;
}

.navbar {
    background: #a81f4a
}

.navbar--selected {
    background-color: #a71140;
}

body {
    background-color: #fdd8fd;
}

.main {
    background-color: #fff;
}

.postlink--item {
    background-color: #c6b7df;
}

.form--input {
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 0rem;
    margin-bottom: 20px;
    border-radius: 0.2rem;
    width:60vw;
    display: block;
    border-style: solid;
    max-width: 100%;
    max-height: 50vh;
    word-break: break-word;
  }

.confirmbutton {
    width: 120px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
    margin: 50px 0;
}

.confirmbutton:hover{
    transition: 0.3s ease-in-out;
}


.confirmbutton {
    border: 3px solid #a81f4a;
    background: #fff;
    color: #a81f4a;
}
  
.confirmbutton:hover{
    background: #a81f4a;
    color: #fff;
}

.greenbutton {
    border: 3px solid green;
    background: #fff;
    color: green;
}
  
.greenbutton:hover{
    background: green;
    color: #fff;
}

.yellowbutton {
    border: 3px solid #FFD700;
    background: #fff;
    color: #FFD700;
}
  
.yellowbutton:hover{
    background: #FFD700;
    color: #fff;
}

.blackbutton {
    border: 3px solid black;
    background: #fff;
    color: black;
}
  
.blackbutton:hover{
    background: black;
    color: #fff;
}

.social--links {
    position: fixed;
    right: 1vw;
    bottom: 0;
}

.input,
.body--input {
  border: 2px solid rgb(118, 118, 118);
  font-family: inherit;
  font-size: inherit;
}

.body--input {
    display: block;
    width: 65vw;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
}
  
.hidden {
    display: none;   
}